<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QLHS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source=DESKTOP-33CU0B0\SQLEXPRESS;Initial Catalog=QuanLyHocSinh;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLHS.Properties.Settings.ConnectionSTR" connectionString="Data Source=DESKTOP-33CU0B0\SQLEXPRESS;Initial Catalog=QuanLyHocSinh;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="localhost_QuanLyHocSinh_Connection" connectionString="XpoProv  ider=MSSqlServer;data source=DESKTOP-33CU0B0\SQLEXPRESS;integrated security=SSPI;initial catalog=QuanLyHocSinh" />
    <add name="localhost_QuanLyHocSinh_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-33CU0B0\SQLEXPRESS;integrated security=SSPI;initial catalog=QuanLyHocSinh" />
    <add name="connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-33CU0B0\SQLEXPRESS;integrated security=SSPI;initial catalog=QuanLyHocSinh" />
  </connectionStrings>
  <userSettings>
    <QLHS.Properties.Settings>
      <setting name="user" serializeAs="String">
        <value />
      </setting>
      <setting name="pass" serializeAs="String">
        <value />
      </setting>
      <setting name="isCheck" serializeAs="String">
        <value>False</value>
      </setting>
    </QLHS.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>
